

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Nueva Sección</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="">Nombre de Sección</label>  
  <div class="col-md-4">
  <input id="" name="" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">Digite el Nombre de la Sección</span>  
  </div>
</div>

</fieldset>
</form>



-----------------------------------------------------------------------------------------------


<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Nueva Oficina</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="">Nombre de Oficina</label>  
  <div class="col-md-4">
  <input id="" name="" type="text" placeholder="Pereira Planta1, Pereira Planta 2, Medellin, Barranquilla..." class="form-control input-md" required="">
  <span class="help-block">Digite el Nombre de la Oficina</span>  
  </div>
</div>

</fieldset>
</form>



-----------------------------------------------------------------------------------------------


<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Nuevo Proceso</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Nombre de Proceso</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Proceso de ...." class="form-control input-md" required="">
  <span class="help-block">Nombre del proceso</span>  
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_responsable">Responsable</label>
  <div class="col-md-4">
    <select id="id_responsable" name="id_responsable" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_seccion">Sección</label>
  <div class="col-md-4">
    <select id="id_seccion" name="id_seccion" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_oficina">Oficina</label>
  <div class="col-md-4">
    <select id="id_oficina" name="id_oficina" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btn_guardar"></label>
  <div class="col-md-4">
    <button id="btn_guardar" name="btn_guardar" class="btn btn-primary">Guardar</button>
  </div>
</div>

</fieldset>
</form>


-----------------------------------------------------------------------------------------------


<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Nuevo Usuario</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id">Identificación</label>  
  <div class="col-md-4">
  <input id="id" name="id" type="text" placeholder="# identificacion" class="form-control input-md" required="">
  <span class="help-block">cédula de ciudadanía</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="user">Nombre de Usuario</label>  
  <div class="col-md-4">
  <input id="user" name="user" type="text" placeholder="User" class="form-control input-md" required="">
  <span class="help-block">Usuario de acceso</span>  
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Clave</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">
    <span class="help-block">Contraseña de acceso</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="email@magnetron.com.co" class="form-control input-md" required="">
  <span class="help-block">Correo electrónico corporativo</span>  
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="íd_seccion">Sección</label>
  <div class="col-md-4">
    <select id="íd_seccion" name="íd_seccion" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_oficina">Oficina</label>
  <div class="col-md-4">
    <select id="id_oficina" name="id_oficina" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_perfil">Rol</label>
  <div class="col-md-4">
    <select id="id_perfil" name="id_perfil" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btn_guardar_user"></label>
  <div class="col-md-4">
    <button id="btn_guardar_user" name="btn_guardar_user" class="btn btn-primary">Guardar</button>
  </div>
</div>

</fieldset>
</form>


-----------------------------------------------------------------------------------------------






<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Nuevo Grupo de Usuarios</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Nombre del Grupo</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Grupo de Ejemplo" class="form-control input-md" required="">
  <span class="help-block">Digíte el nombre del grupo de usuarios.</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btn_guardar_grupo"></label>
  <div class="col-md-4">
    <button id="btn_guardar_grupo" name="btn_guardar_grupo" class="btn btn-primary">Guardar</button>
  </div>
</div>

</fieldset>
</form>


-----------------------------------------------------------------------------------------------

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Nuevo Recurso</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Nombre del Recurso</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Nombre del recurso" class="form-control input-md" required="">
  <span class="help-block">Digíte el nombre del recurso</span>  
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_proceso">Proceso Padre</label>
  <div class="col-md-4">
    <select id="id_proceso" name="id_proceso" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_grupo_usuario">Grupo</label>
  <div class="col-md-4">
    <select id="id_grupo_usuario" name="id_grupo_usuario" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btn_guardar_grupo"></label>
  <div class="col-md-4">
    <button id="btn_guardar_grupo" name="btn_guardar_grupo" class="btn btn-primary">Guardar</button>
  </div>
</div>

</fieldset>
</form>


-----------------------------------------------------------------------------------------------


<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Nuevo Elemento</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Nombre del Elemento</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Nombre del elemento" class="form-control input-md" required="">
  <span class="help-block">Digíte el nombre del elemento</span>  
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_proceso">Recurso Padre</label>
  <div class="col-md-4">
    <select id="id_proceso" name="id_proceso" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_grupo_usuario">Grupo</label>
  <div class="col-md-4">
    <select id="id_grupo_usuario" name="id_grupo_usuario" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btn_guardar_grupo"></label>
  <div class="col-md-4">
    <button id="btn_guardar_grupo" name="btn_guardar_grupo" class="btn btn-primary">Guardar</button>
  </div>
</div>

</fieldset>
</form>


-----------------------------------------------------------------------------------------------


<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cargar Nueva Versión</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Nombre de Versión</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Nombre de la versión del documento a cargar." class="form-control input-md" required="">
  <span class="help-block">Nombre de la versión para éste documento.</span>  
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_observacion">Observaciones</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="id_observacion" name="id_observacion"></textarea>
  </div>
</div>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="id_upload_file">Documento</label>
  <div class="col-md-4">
    <input id="id_upload_file" name="id_upload_file" class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btn_cargar_version"></label>
  <div class="col-md-4">
    <button id="btn_cargar_version" name="btn_cargar_version" class="btn btn-primary">Cargar</button>
  </div>
</div>

</fieldset>
</form>


-----------------------------------------------------------------------------------------------

